// imports de police
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f0f0;
    font-family: 'Lato';
    font-weight: 400;
    color: #aaa;
    font-size: 14px;
}

h1, h2, h3 {
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 200ms ease;

    &:focus {
        color: black;
    }

    &:hover {
        color: black;
    }
}

hr.small {
    width: 90px;
    margin: 25px 0;
    border: none !important;
    background-color: #aaa;
    height: 1px;
    border-radius: 100px;
}

.button {
    padding: 11px 20px;
    border-radius: 3px;
    background-color: #888;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #fff!important;
        background-color: #333;
    }

    &:focus {
        color: #fff !important;
    }
}

p {
    line-height: 22px;
}

.website-title {
    font-size: 36px;
    font-weight: 200;
    cursor: pointer;
    user-select: none;
}

.read-more-link{
    text-decoration: underline;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    margin: 25px 0;
}

// barre de navigation
nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: 50px;
    z-index: 10000;

    .row {
        a {
            margin-right: 9px;
            i {
                font-size: 20px;
            }
        }
    }

    ul {
        list-style: none;

        li {
            margin: 5px 0;
        }
    }
}

// boite de contenue
.content-wrapper {
    max-width: 1100px;
    margin-left: 400px;
    padding: 50px;
}

// liste des publications
.list {
    z-index: 1;
}

// article
.listitem {
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%);
    overflow: hidden;
}

// contenue de l'article
.post-content {
    padding: 35px;

    p {
        margin: 15px 0;
        text-align: justify;
    }

    .row {
        margin-top: 25px;
        align-items: center;

        .post-info-separator {
            margin: 0 9px;
        }
        .post-info {
            font-size: 10px;
            letter-spacing: 1px;
        }
    }
}

// contenu tronqué
.truncated-content {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 3;
}


// titre de l'article
.blog-title-link {
    color: black;
    transition: opacity 200ms ease;
    font-size: 30px;
    font-weight: 400;
    text-transform: none !important;
    margin: 25px 0 !important;

    &:hover {
        opacity: 0.6;
    }
}

// image représentative de l'article
.blog-image {
    width: 100%;

    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: opacity 300ms ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

// boutons du bas
.btm-btn {
    align-items: flex-start;
    a {
        margin-bottom: 25px;
    }
}

// container
.container {
    background-color: #fff;
    padding: 15px 50px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%);
    border-radius: 5px;
    margin: 50px 0;
    width: 50vw;
}

// style pour les formulaires
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;


    .col {
        width: 100%;
        align-items: flex-start;
    }

    input {
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    outline: 1px solid #333;
    border-radius: 5px;
    transition: all 500ms ease;
    font-size: 20px;
    }

    input, textarea, ::placeholder {
        font-size: 18px;
    }

    input[type=text] {
        width: calc(100% - 40px);
    }

    [type=submit]{
        outline: none;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    input:focus {
        box-shadow:0 0 6px 2px lightskyblue;
        outline: 2px solid transparent;
    }
}

// responsive

// barre de navigation tel

#phone-nav {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    display: none;

    #navcheck {
        font-size: 35px;
        margin-left: 10px;
        transition: opacity 300ms ease;
    }
}

@media screen and (max-width: 900px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #phone-nav {
        display: flex;
    }
    nav{
        position: fixed;
        top: 0;
        left: -120%;
        width: 100vw;
        height: 100vh;
        padding: 15px;
        margin: 0;
        margin-top: 8vh;
        transition: all 300ms ease-out;

        p{
            width: 90%;
        }

        li {
            padding: 10px 0;
        }
    }
    .content-wrapper {
        padding: 10px;
        margin: 0 !important;
        margin-top: 80px !important;
    }
    .post-content {
        padding: 15px;
    }
    .blog-title-link {
        font-size: 16px;
    }
    .container {
        margin: 0;
        padding: 0;
        width: calc(100vw - 20px);
    }
    form {
        padding: 10px;
        width: calc(100% - 20px);
        input, textarea, ::placeholder {
            font-size: 14px;
        }
        h2 {
            font-size: 18px;
        }

        input, textarea {
            font-size: 14px;
            width: 90%;
            padding: 10px 5px;
        }
        textarea{
            width: calc(100% - 40px) !important;
        }
    }
}


// ------------------------------------------------------


